<div class="page-wrapper">
<h2>What is this thing?</h2>
<p>It's a site I made. I hope you like it. Or don't. It doesn't really matter to me.</p>
<h2>How do you choose the links?</h2>
<p>They're all things that I found interesting that are either directly or tangentially related to the outdoor industry.</p>
</div>
