<div class="nav">
  <div class="nav-pad">
<h1>Outdoor Recreation Industry Links and Stuff</h1>
</div>
</div>
<% @links.each do |link| %>
  <div class="link">
    <div class="link-pad">
    <h2><%= link_to link.title, link.url, target: '_blank' %></h2>
    <p><%= link.site %></p>
    <% if link.description.present? %>
    <p class="description">"<%= link.description %>"</p>
    <% end %>
    </div>
  </div>
<% end %>
<p><%= paginate @links %></p>

