// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
  font-family: 'Karla';
  margin: 0px;
  background: #efefef;
}
p{
  font-size: 18px;
}
.page-wrapper{
  padding: 40px;
  background: #fff;
}
.date-wrapper{
  margin-bottom: 30px;
}
.date{
  padding: 0 0 10px 10px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  color: #999;
}
.nav-links{
  ul{
    margin: 0px;
    padding: 0px;
    li{
      display: inline;
      color: #fff;
      z-index: 99;
      position: relative;
      margin-right: 30px;
      a{
        color: #fff;
        font-weight: 500;
      }
    }
  }
}
.site-wrapper{
  width: 800px;
  margin: 0 auto;
  @media (max-width: 800px){
    width: 100%;
  }
}
.nav{
  width: 100%;
  background: url('https://images.unsplash.com/photo-1486766138039-41b9eb93da0b?dpr=2&auto=format&fit=crop&w=1500&h=808&q=80&cs=tinysrgb&crop=') center center no-repeat;
  background-size:cover;
  position: relative;
  &:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    content: '';
    transition: all 1s;
    background: rgba(0,0,0,0.3);

  }
  h1{
    color: white;
    font-size: 30px;
    text-align: left;
    z-index: 99;
    position: relative;
    a{
      color: white;
    }
  }
  .nav-pad{
    padding: 90px 40px;
  }
}

.link {
  border-bottom: 1px solid #efefef;
  background: #fff;
  .link-pad{
    max-width: 100%;
    padding: 40px;
    @media (max-width: 800px){
      padding: 40px 20px;
    }
  }
  h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    @media (max-width: 800px){
      font-size: 30px;
    }
  }
  p {
    font-size: 14px;
    margin: 0px;
    color: #999999;
  }
  .description{
    font-size: 18px;
    margin: 0px;
    padding-top: 15px;
    color: #444;
  }
  a {
    text-decoration: none;

    color: #232323;
    &:hover{
      opacity: 0.8;
    }
  }
}
.new-link{
  width: 500px;
  margin: 0 auto;
  padding-top: 40px;
}

.simple_form {
  div.input {
    margin-bottom: 10px;
    clear: both;
    /* Required for Webkit, but not for Gecko */
  }
  label {
    display: block;
    margin: 2px 0px;
  }
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  float: none;
  margin: 0;
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form {
  .error {
    clear: left;
    color: black;
    display: block;
    margin-left: 120px;
  }
  .hint {
    clear: left;
    margin-left: 120px;
    color: #555;
    display: block;
    font-style: italic;
  }
}

input {
  padding: 20px;
  font-size: 24px;
  width: 500px;
  margin-left: 0px;
  &.radio {
    margin-right: 5px;
    vertical-align: -3px;
  }
  &.check_boxes {
    margin-left: 3px;
    vertical-align: -3px;
  }
  input[type='submit'] {
      margin-left: 0px;

  }
}
div.boolean, .simple_form input[type='submit']{
  margin-left: 0px;
  width: 100%;
  background: green;
  color: white;
  padding: 20px;
  border: none;
  cursor: pointer;
}

